.navContainer {
  padding: 1.8rem 1.8rem 0rem 1.8rem;
}

.moviesPage {
  height: 100vh;
  position: relative;
}

.moviesPage section {
  display: flex;
  height: calc(100vh - 11.4rem);
  margin-top: 1.8rem;
  padding: 0 2rem;
  /* overflow-x: hidden; */
}

.fadeEnter {
  opacity: 0;
  transform: translate(-50%, -40%), scale(0.95);
}

.fadeEnterActive {
  opacity: 1;
  transform: translate(-50%, -40%), scale(1);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.fadeExit {
  opacity: 1;
  transform: translate(-50%, -40%), scale(1);
}

.fadeExitActive {
  opacity: 0;
  transform: translate(-50%, -40%), scale(0.95);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
