.resultsLayout {
  padding: 1.8rem;
  height: calc(100vh - 10.6rem);
  position: relative;
}

.resultsLayout section {
  display: flex;
  gap: 2rem;
  height: 100%;
  margin-top: 4.6rem;
  overflow: hidden;
}

.fadeEnter {
  opacity: 0;
  transform: scale(0.95);
}

.fadeEnterActive {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.fadeExit {
  opacity: 1;
  transform: scale(1);
}

.fadeExitActive {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
