.loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  background-color: var(--color-dark--hover);
  color: var(--color-light--3);
  font-family: inherit;
  height: max-content;
  width: 40rem;
  z-index: 9;
  padding: 4.6rem 2.8rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 20px 70px 5px;
}

.closeBtn {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  background: none;
  border: none;
}

.closeBtn svg {
  fill: var(--color-light--1);
  transition: all 0.3s;
  cursor: pointer;
}

.closeBtn svg:hover {
  fill: #fff;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin-bottom: 8rem;
}

.titleContainer h1 {
  font-size: 3rem;
  font-weight: 500;
}

.titleContainer p {
  font-size: 1.6rem;
  color: var(--color-light--1);
}

.loginInfoContainer {
  width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.loginInfoInput {
  width: 100%;
}

.loginInfoInput p {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.loginInfoInput input {
  width: 100%;
  font-size: 1.4rem;
  padding: 0 1rem;
  height: 4rem;
  background-color: var(--color-dark--1);
  color: var(--color-light--3);
  border: none;
  border-radius: 0.4rem;
  transition: all 0.3s;
}

.loginInfoInput input::placeholder {
  color: var(--color-light--1);
  transition: all 0.3s;
}

.loginInfoInput input:focus {
  outline: none;
  background-color: var(--color-dark--2);
}

.smallInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.6rem;
  margin-bottom: 6rem;
  font-size: 1.25rem;
}

.checkContainer {
  display: flex;
  align-content: center;
  gap: 0.8rem;
}

.checkbox {
  appearance: none;
  border: 2px solid var(--color-brand--2);
  border-radius: 0.4rem;
  width: 1.5rem;
  height: 1.5rem;
}

.checkbox:checked {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="12" viewBox="0 0 32 32" xml:space="preserve"><path style="fill: rgb(238, 238, 238)" d="M11.941,28.877l-11.941-11.942l5.695-5.696l6.246,6.246l14.364-14.364L32,8.818"/></svg>');
}

.forgotBtn {
  background: none;
  color: var(--color-brand--2);
  border: none;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  font-weight: 600;
  font-family: inherit;
  transition: all 0.3s;
}

.forgotBtn:hover {
  color: var(--color-brand--1);
}

.signInBtn {
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  font-family: inherit;
  background-color: var(--color-brand--2);
  color: var(--color-light--3);
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.3s;
}

.signInBtn:hover {
  background-color: var(--color-brand--1);
  color: #fff;
}

.noAcc {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 2rem;
}

.noAcc p {
  font-size: 1.4rem;
}

.noAcc button {
  background: none;
  color: var(--color-brand--2);
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-family: inherit;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.noAcc button:hover {
  color: var(--color-brand--1);
}
