.sideBar {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  border-right: 2px solid var(--color-dark--1);
  border-top: 2px solid var(--color-dark--1);
  border-top-right-radius: 1rem;
  width: 36rem;
  color: var(--color-light--2);
}
